{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}

{% block title %}Parol o`zgartirildi{% endblock title %}

{% block content %}
<h1>Parol o`zgartirildi</h1>
<p>Yangi parol bilan saytga kirishingiz mumkin</p>
<form method="post" action="{% url 'login' %}">{% csrf_token %}
    <button class="btn btn-outline-primary" type="submit">Kirish</button>
  </form>

{% endblock content %}
