{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}
{% block content %}
<form method="post" class="px-4 py-3" enctype="multipart/form-data">{%csrf_token %}
  <div class="d-flex justify-content-center align-items-center vh-100">
  <div class="container-fluid" style="width: 40rem; height: 35rem; ">
<h1>Tahrirlash</h1>
    {{ form.media }}
    {{ form|crispy }}
    <button type="submit" class="btn btn-warning">Saqlash</button>
  </form>
</div>
</div>
  {% endblock content %}